@media (max-width: 375px) {
    
    #textsm-contacth3 {
        font-size: 25px;
    }
    .f-column-sm{
        flex-direction: column;
    }
    .w-sm{
        width: 330px;
    }
    #w-sm-cont-p{
        width: 300px;
    }
    #cg-h3{
        font-size: 30px;
        padding: 5px;
    }
    #sm-qsh{
        font-size: 30px;
        padding: 10px; 
    }
    #img-qs-pri{
        width: 97%;
        margin: 5px;
    }


}

@media (max-width: 768px) {

    .flex{
        display: flex;
        flex-direction: column;
    }
    .todo-s-g{
        height:97px ;
        padding-bottom: 30px;
    }
    p{
        font-size: 10px !important;
    }
    .footer-mobile{
        margin-top: 105px;
        margin-right: 5px;

    }
    .bg-g3 ul li{
        font-size: 10px;
    }
    .p-mobile-lit2{
        padding: 20px;
    }

    .ocultar-div{
        display:none;
        }
    
    .productos-mg{
        margin-left: 5px;
        margin-top: 5px;
    }
    .footer-productos{
        margin-right: 5px;
    }

}
