@import"_commons";

@media (max-width: 450px) {
    
    #textsm-contacth3 {
        font-size: 25px;
    }
    .f-column-sm{
        flex-direction: column;
    }
    .w-sm{
        width: 330px;
    }
    #w-sm-cont-p{
        width: 300px;
    }
    #cg-h3{
        font-size: 30px;
        padding: 5px;
    }
    #sm-qsh{
        font-size: 30px;
        padding: 10px; 
    }
    #img-qs-pri{
        width: 97%;
        margin: 5px;
    }

    #org-adop-sec{
        width: 100%;
    }
    .sm-art-adop{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #corrector-bg5{
        height: 100%;
        object-fit: cover;
        object-position: center left;
    }
}

@media (max-width: 991px) {

    .flex{
        display: flex;
        flex-direction: column;
    }
    .todo-s-g{
        margin-left: 5px;
    }
    p{
        font-size: 16px
    }
    .footer-mobile{
        margin-top: 105px;

    }
    .bg-g3 ul li{
        font-size: 10px;
    }
    .p-mobile-lit2{
        padding: 20px;
    }

    .ocultar-div{
        display:none;
        }
    
    .productos-mg{
        margin-left: 5px;
        margin-top: 5px;
    }
    .footer-productos{
        margin-right: 5px;
    }

}

